h1 {
color: red;
background-color: rgb(35, 163, 35);
}

img {
    height: 200px;
    width: auto;
}

.image-description {
    font-family: sans-serif;
    font-style: oblique;
    font-size: 14px;
}

.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}